@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body {
    font-family: Ropa Sans;
}

header {
    width: 100%;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.4);
}

.main {
    display: flex;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10%;
    font-size: 56px;
    color: #777777;
}

.sub-logo {
    color: #AAAAAA;
    margin-top: 34px;
    font-size: 16px;
    padding-right: 65%;
}

.navbar img {
    padding-top: 30px;
    width: 35px;
}

.imagem-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-image: url('/img/Rectangle1.svg');
    margin: 40px 10%;
    margin-bottom: 60px;
    padding: 0 30px;
    height: 75vh;
}

.arrow-left,
.arrow-right {
    border: none;
    background-color: rgba(141, 141, 141, 0.62);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(141, 141, 141, 0.8);
}

.elipse {
    display: flex;
    position: relative;
}

.elipse img {
    border: solid 2px green;
    position: relative;
    width: 70px;
}

.arrow {
    position: absolute;
    top: 0;
}

.arrow img {
    width: 30px;
}

.container-principal {
    display: flex;
    justify-content: space-evenly;
}

.left-card-text,
.right-card-text {
    font-size: 18px;
    color: #555555;
    background-color: #EEEEEE;
    width: 470px;
    height: 170px;
    box-sizing: border-box;
    padding: 15px;
    text-align: justify;
}

.text {
    padding-top: 20px;
}

.left-card-img,
.right-card-img {
    width: 470px;
    margin-bottom: -4px;
}

.left-card-img img,
.right-card-img img {
    width: 100%;
    height: 100%;
}

.preco {
    display: flex;
    justify-content: space-between;
    color: #888888;
    font-size: 40px;
}

.card-new {
    display: inline-block;
    position: relative;
}

.card-new p {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 15px;

}

.card-new img {
    width: 100px;
}

.style_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 10%;
}

.title_section {
    color: #888888;
    font-size: 48px;
    margin-top: 40px;
}

.industrial {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('/img/industrial.png');
    background-size: cover;
    height: 130px;
    width: 1079px;
}

.industrial h2,
.modern h2,
.classic h2 {
    margin-top: 40px;
}

.industrial,
.modern,
.classic {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    color: #ffffff;
    margin-top: 20px;
}

.modern {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('/img/modern.png');
    background-size: cover;
    height: 130px;
    width: 1079px;
}

.classic {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('/img/classic.png');
    background-size: cover;
    height: 130px;
    width: 1079px;
}